*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 

body{
    font-size: 15px;
    color: #000000; background: #fff;
    font-family: 'FiraSans-Regular';
    line-height: 1.5;
}
html{
    scroll-behavior: smooth;
}

@import 'mixin';
.container{
    @include container;
}

main{
    header{
      width: 100%;
      padding: .8rem 0;
      .header-content{
          @include flex;
          justify-content: $between;
       .logo{ 
        //    width: 30%;
           img{
               max-width: 100%;
           }
        }
        nav{
            width: 90%;
            .nav-item-wrp{
                @include flex;
                justify-content: $between;
                .L01{
                    width: 70%;
                    ul{
                        position: $rel;
                        li{
                            transition: $transition;
                            &:hover{
                                transition: $transition;
                                // opacity: .77;
                            }
                        }
                    }

                //----productss-----/ 
                //-----active---product--
                .Product-active{
                    background: #fff;
                    // padding: .5rem 1.8rem!important;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    a{
                      color: $site-color!important;
                    }
                }
                // ----
                .Product-List{
                    position: $abs;
                    background: $fff;
                    border-right: 1px solid #999999a6; 
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    top: 40px;
                    left: 0;
                    z-index: 5;
                    width: 90%;  
                    display: $none;
                   .Product-child{
                    @include flex;
                    align-items: $init;
                    justify-content: $between;
                    box-shadow: 0 5px 7px -2px #d6d6d6ba;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    .F-item01{
                        padding: 0 0 0 .8rem;
                        border-right: 1px solid #99999924; 
                      }
                     .item-cmn{
                         width: 48%;
                         .list-heading{
                             padding: .8rem 0;
                             h2{
                                 font-size: 1.2em;
                                 font-weight: $bld;
                                 color: #222;
                             }
                         }
                         ul{
                             display: $block!important; 
                             li{
                                 display: $block!important;
                                 padding: .5rem 0!important; 
                                 a{
                                     color: #2d2d2d;
                                     @include flex;
                                     justify-content: $start;
                                     font-size: 16px;  transition: $transition;
                                     img{
                                         width: 20px;
                                         height: 20px;
                                         object-fit: contain;
                                         filter: contrast(0);
                                         transition: $transition;
                                         margin: 0 1rem 0 0;
                                     }
                                     &:hover{
                                         color: $site-color;
                                         transition: $transition;
                                         padding-left: 5px;
                                         .img{
                                            filter: contrast(1);
                                            transition: $transition;
                                            transform: scale(1.1);
                                        }
                                     }
                                 }
                             }
                         }
                     }
                   } 
                }
                // end--here----// 
                } 

                .R01{
                    width: 25%;position:$rel;
                   ul{
                       justify-content:flex-end!important;
                       li{ 
                           a{
                               color: #000!important;
                               transition: $transition;
                               &:hover{
                                transition: $transition;
                                color: $site-color!important;
                               }
                           }
                       }
                   }
                //    -----language---
                   .lang-wrp{
                        transition: $transition;
                       .fa-chevron-down{
                           transform: rotate(180deg);
                           transition: $transition;
                       }
                   }
                     .lang-model{
                        position: absolute;
                        right: 19px; 
                        background:$site-color;
                        width: 160px;
                        z-index: 5;
                        border-radius: 5px;
                        display: $none;
                        box-shadow: 0 2px 3px 1px #7f7f7f;
                         ul{
                             display: $block!important;
                             li{
                                 display: $block!important;
                                 padding: .6rem 1rem!important;
                                 transition: $transition;
                                 border-bottom: 1px solid #ffffff6e;
                                 &:hover{
                                     transition: $transition;
                                    //  transform: translateX(5px);
                                     padding-left: 1.3rem!important;
                                     background: #7f7f7f;
                                     color: #061bb0;
                                 }
                                 a{
                                     color: $fff!important;
                                     font-size: 15px;
                                 }
                             }
                         }
                     }
                // ---end----here---
                }
                .hvr-underline-from-center{
                    &::before{
                        background: $fff;
                        height: 2px;
                    }
                }
                .nav-cmn{
                    // width: 50%;
                    ul{
                        @include flex;
                        justify-content: $between;
                        li{
                           padding: .5rem 1rem;
                           a{
                               font-size: 1.1em;
                               text-decoration: $none;
                               text-transform: $cap;
                               line-height: 1.5;
                               letter-spacing: 1px;
                               word-spacing: 1px;
                               color: $fff;
                           }
                        }
                    }
                }
            }
        }
      }
    }

    // ---header---finish----end--here---//


    // ---Banner------ //

    .Banner-Wrapper{
       width: 100%;
       position: relative;
       .bg-banr{ 
        position: absolute;
        right: 35vw;
        bottom: 0;
        width: 100vmax;
        min-width: 680px;
        height: 100vmax;
        min-height: 680px;
        border-radius: 68px;
        overflow: hidden; 
        transform: rotate(  -13deg );
        background: $site-color;
        z-index: -1;
        img{
            width: 100%; 
            position: absolute;
            top: auto;
            bottom: 0px;
            right: -115px;
            height: auto; 
            transform: rotate(1deg);
            mix-blend-mode: hard-light;
            filter: opacity(0.5);
            animation: imgainme 24s linear infinite;
        }
        @keyframes imgainme {
             0%,100%{
                //  transform:rotateZ(45deg);
                 transform: translateX(80px);
                 transition: $transition;
                 right: -200px;  
             }
             50%{
                 transition: $transition;
                //  transform: rotateZ(0deg);
                transform: translateX(-80px);
             }
        }
       }
       
       .Banner-content{
           @include flex;
           justify-content: $between;
        //    align-items: $inherit;
           .Bnr-Lft {
               width: 70%;
               h1,h2{
                   font-size: 4em;
                   font-weight: $blder;
                   text-transform: $cap;
                   letter-spacing: 1px;
                   word-spacing: 2px;
                   color: $fff;
                   line-height: 1.5;
               }
               .price-cmn{
                   display: none;
               }
               p{
                   font-size: 1.1em;
                   text-transform: $cap;
                   color: $fff;
                   line-height: 1.5;
                   padding: 1rem 3rem 1rem 0;
                   word-spacing: 1px;
                   letter-spacing: 1px;
               }
               a{
                   background: $fff;
                   padding: 1rem 2.5rem 1rem 1.5rem;
                   text-transform: $cap;
                   color:$site-color;
                   font-weight: bold;
                   border-radius: 5px;
                   display: inline-block;
                   font-size: 1.5em;
                   transition: $transition;
                   text-decoration: $none;
                   margin: 1rem 0 0;
                   &:hover{
                       transition: $transition;
                       background: transparent;
                    //    border-radius: 100px;
                       border-top-left-radius: 50px;
                       border-bottom-right-radius: 50px;
                       border: 2px solid $fff;
                       color: $fff;
                   }
                   i.fas.fa-arrow-right {
                    padding: .5rem;
                    margin: 0 .5rem 0 0;
                    background: #061bb0;
                    border-radius: 50%;
                    color: #fff;
                    font-size: 16px;
                }
               }
               
               .hvr-shutter-out-horizontal{ 
                   &:hover{
                       color: $fff;
                       transition: $transition;
                   }
                   &::before{
                       background: $site-color;
                       border-radius: 5px;
                       color: $fff!important;
                   }
               }
           }
           .Bnr-Rgt{
               width: 30%;
               .unorder01{
                   justify-content: flex-end;
                   text-align: right;
                   width: 45px;
                   margin: 0 0 auto auto;
                   li{
                       display: block;
                       padding: .5rem 0;
                       a{
                            width: 45px;
                            height: 45px;
                            display: inline-block;
                           img{
                             width: 35px;
                             height: 35px;
                             object-fit: contain;
                             filter: contrast(0);
                             transition: $transition;
                             &:hover{
                                filter: opacity(.58);
                                transition: $transition;
                             } 
                           }
                       }
                   }
                   .List_active{
                    a{
                        img{
                            filter: contrast(1)drop-shadow(0px 0px 3px #061bb05e);
                            transition: $transition;
                            transform: scale(1.1);
                        }
                    }
                   }
               }
               
            //---payment---///
            .payment-wrp{
                @include flex;
                justify-content: $between;
                padding: 1.5rem 0 0;
                li{
                    list-style-type: $none;
                   p{
                       font-size: 1.1em;
                       line-height: 1.5;
                       letter-spacing: 1px;
                       word-spacing: 1px;
                       color: #222;
                       text-transform: $cap;
                       padding-left: 3rem;
                       transition: $transition;
                       &:hover{
                           color: #999;
                           transition: $transition;
                       }
                   } 
                   img{
                       max-width: 84%;
                       transition: $transition;
                       &:hover{
                       transition: $transition;
                       transform: scale(1.1);
                       }
                   }
                   &:nth-child(1){
                       width: 70%;
                   }
                   &:nth-child(2),&:nth-child(3){
                    width: 10%;
                }
                }
            }
            // end--heree0------
           }
       }
    } 


// <!-- Market--strategy--section-->
.Market-Strategy_wrapper{
    padding: 5rem 0 0;
    width: 100%;
    .Market-Str-content{
        width: 100%; 
        border: 1px solid #000;//$site-color;
        border-radius: 5px;
        padding: 0 1rem; 
        .Mrt-heading{
            padding: 1rem 2rem;
            clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 96% 50%, 100% 65%, 100% 100%, 0% 100%, 0% 65%, 4% 50%, 0% 35%);
            // background: #061bb0;
            background: #060606;
            width: 50%;
            transform: translateY(-28px);
            h2{
                font-size: 1em;
                text-transform: $cap;
                letter-spacing: 1px;
                word-spacing: 1px; 
                text-align: center;
                color: $fff;
             }
        }  
        .Mrt-Cnt_wrp{
            @include flex;
            justify-content: center;
            .Mrt-cmn02{
                width: 32%;
                margin: 0 auto;
                text-align: center;
                h2{
                    font-size: 1.3em;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    word-spacing: 1px;
                    color: $site-color;
                    text-transform: $cap;
                    @include flex;
                    padding: 0 0 1rem;
                    span{
                        width: 35px;
                        height: 35px;
                        border: 1px solid $site-color;
                        display: inline-block;
                        border-radius: 50%;
                        text-align: center; 
                        margin: 0 .8rem 0 0;
                        @include flex;
                        animation: borderanime 4s linear infinite;
                    }
                    @keyframes borderanime {
                        0%,100%{
                            transition: $transition;
                            box-shadow: inset 0 0 6px 0px #061bb0;
                        }
                        50%{
                            transition: $transition;
                            box-shadow: inset 0 0 10px 5px #061bb0;
                        }
                    }
                }
                figure{
                    img{
                        max-width: 100%;
                        transition: $transition;
                        animation: imgaime 3s linear infinite;
                        &:hover{
                            animation-play-state: paused;
                            transition: $transition;
                        }
                    }
                    @keyframes imgaime {
                        0%,100%{
                            transform: translateY(3px);
                            transition: $transition;
                        }
                        50%{
                            transform: translateY(-3px);
                            transition: $transition;
                            filter: drop-shadow(1px 1px 4px rgb(145, 145, 145));
                        }
                    }
                }
            }
        } 
    }
}

// -------------end---here-----------marketing---strategy----


// <!--Currency-----section-->
.Currency_Wrapper{
    width: 100%;
    padding: 2.5rem 0 1rem; 
    .Currency-content{
        .Currency-heading{
            width: 100%;
            text-align: center;
            @include flex;
            h2{
                font-size: 1.2em;
                text-transform: $cap;
                color: #000;
                padding: 0 1rem 0 0;
            }
            label{
                select{
                    padding: .8rem 1rem;
                    border-radius: 5px;
                    border: 1px solid #2222220d;
                    font-size: 1.3em;
                    cursor: pointer;
                    background: #eee;
                    box-shadow: inset 0 0 4px 2px #17171729;
                    transition: $transition;
                    &:hover{
                        transition: $transition;
                        box-shadow: 0 0 4px 2px #17171729;
                    }
                    option{
                       padding: .9rem .2rem;
                       font-size: 1.1rem;
                       text-transform: $cap;
                       line-height: 1.5;
                       letter-spacing: 1px;
                       word-spacing: 1px;
                       margin: .5rem 0;
                    }
                }
            }
        }
        // ------************---------//
        .Currency-Cnt-wrp{
           .Currency-unorder{
               @include flex;
               justify-content: $between;
               padding: 2.5rem 0;
              .C-item-cmn01{
                width: 23%;
                padding: .7rem .9rem;
                background: #D9D9D9;
                text-align:$mid;
                border-radius: 5px;  cursor: pointer;
                h2{
                    font-size: 1.4em;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    word-spacing: 1px;
                    text-transform: $upper; 
                }
                h3{
                  padding: .5rem 0;
                  font-size: 1.2em;
                  line-height: 1.5;
                  letter-spacing: 1px;
                  word-spacing: 1px;
                  text-transform: $upper;
                  sup {
                    font-size: 14px;
                    vertical-align: super;
                    text-decoration: line-through;
                 }
                }
              }
            // ---active---
            .CurrencyActive{
                background: $site-color;//#000;
                color: $fff;
                cursor: pointer;
                position: relative;
                &::before{
                  content: '';
                  width: 20px;
                  height: 20px;
                  background: $site-color;//#000;
                  transform: rotate(45deg);
                  position: absolute;
                  bottom: -10px;
                  z-index: -1;
                  left: calc(50% - 4px);
                }
            }
           }

        //---------Quantity---wrp---//
        .quantity-wrp{
            width: 50%;
            margin: 0 auto;
            padding: 1rem;
            border: 1px solid #999;
            border-radius: 5px;
            .quantity-heading{
                p{
                    font-size: 1.1em;
                    text-transform: $cap;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    word-spacing: 1px; 
                    font-weight: $bld;
                }
                h2{
                    font-size: 2.5em;
                    text-transform: capitalize;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    word-spacing: 1px;
                    padding: .6rem 0;
                    font-weight: $blder;
                }
                h3{
                    background: #EEBA2B;
                    padding: .8rem 1rem;
                    text-transform: uppercase;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    word-spacing: 1px;
                    font-size: 1.2em;
                    color: $fff;
                    font-weight: $blder;
                    margin: 0 0 1rem; 
                    position: relative;
                    @include bfr;
                } 
            }
            .quantity-content{
                @include flex;
                justify-content: $between;
                .button{
                    text-align: $mid;
                    padding: 1.8rem 0 .3rem;
                    width: 100%;
                   button{
                      padding: 1rem 2.1rem;
                      border-radius: 4px;
                      border: $none;
                      outline: $none;
                      display:$inline-b;
                      font-size: 1.2em;
                      text-transform: $upper;
                      font-weight: $bld; 
                      color: $fff;
                      background: $site-color;
                      cursor: pointer;
                      position: relative;
                      transition: $transition;
                      &::before{
                          content: '';
                          width: 0;
                          background: rgba(238, 238, 238, 0.281);
                          height: 100%;
                          top: 0;
                          left: 0;
                          position: absolute;
                          transition: all .5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
                      }
                      &:hover{
                        transition: all .5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
                          &::before{
                              width: 100%;
                              transition: all 0.6s cubic-bezier(0.49, -0.69, 0, 1);
                          }
                      }
                      .fa-arrow-alt-circle-right{
                          color: $fff;
                          font-size: 1.3em;
                          margin: 0 .8rem 0 0;
                      }
                   }
                }
                .qnt-cmn{
                    width: 48%;
                    .Package-cmn{ 
                        h2{
                            font-size: 1em;
                            text-transform: $cap;
                            // letter-spacing: 1px;
                            word-spacing: 1px;
                            color: #000;
                        }
                        p{
                           font-size: 15px;
                           text-transform: $cap;
                           letter-spacing: 1px;
                           word-spacing: 1px;
                           color: #7ED957;
                           padding: .3rem 0 0;
                        }
                    }
                    .qnt01{
                        padding: 0 0 1.7rem;
                    }
                }
                .qnt-Rgt{
                    .qnt01{
                        p{
                           color: #EEBA2B!important; 
                        }
                    }
                }
            }
          }
        //----Quantity----end---here---//
        }
    }
}

// <!-- Currency---end----here -->

// .  <!-- About--sectionn -->
    .About-wrapper{
        width: 100%;
        background: #EEBA2B;
        overflow: hidden;
        margin: 5rem 0;
        .About-content-wrp{
            width: 100%;
            .About-child-cnt{
                @include flex;
                justify-content: $between;
                .Abt01.abt-cmn01{
                    >figure {
                        transform: translateY(-60px);
                    }
                }
                .abt-cmn01{
                    width: 48%;
                    h2{
                        font-size: 1.4em;
                        text-transform: $cap;
                        word-spacing: 1px;
                        line-height: 1.5;
                    }
                    p{
                        font-size: 1em;
                        text-transform: $cap;
                        word-spacing: 1px;
                        line-height: 1.7;
                        padding: .5rem 0;
                    }
                    a{
                        display: $inline-b;
                        text-transform: $cap;
                        font-weight: $bld;
                        font-size: 1.3em;
                        color: $site-color;
                        text-decoration: $none;
                        transition: $transition;
                        position: relative;
                        &:hover{
                            transition: $transition;  
                            color: #000000;
                        } 
                    }
                    figure{
                        img{
                            max-width: 80%;
                            animation: swing ease-in-out 4s infinite alternate;
                            transform-origin: center -20px;
                            transition: $transition; 
                        }
                    }
                    @keyframes swing {
                        0% { transform: rotate(3deg); }
                        100% { transform: rotate(-3deg);     filter: drop-shadow(1px 2px 4px #000);}
                    }
                }
            }
            .About-child2{
                flex-direction: row-reverse;
            }
        }
    }
// <!-- endd---hereeeee---about ---sectionn --> 
// --------Footer----------------//

footer{
    background: #2D2D2D;
    width: 100%;
    // margin: 5rem 0 0;
    z-index: 4;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        background: url(../image/footer-bg.png)repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: -1;
        animation: bfranime 90s linear infinite;
        @keyframes bfranime {
            0%,100%{
                transition: all .8s ease-in-out;
                background-position-x: -600px;
            }
            50%{
                transition: all .8s ease-in-out;
                background-position-x: 600px;
            }
        }
    }
    .footer-content-wrp{
        .Ft-logo-heading{
            width: 100%;
            text-align: center;
            padding: 3rem 0;
            img{
                max-width: calc(100% + 100px);
            }
        }
        // ---Footer---content--//
        .footer-cnt{
            @include flex;
            justify-content: $between; 
            align-items: $inherit;
            .Ft-left{
                width: 70%;
            }
            .Ft-Right{
                width: 20%;
                display: inline-block!important;
                .Ft-head{
                    padding: 0 0 1.3rem;
                    h2{
                        font-size: 1.3em;
                        text-transform: $cap;
                        line-height: 1.5;
                        letter-spacing: 1px;
                        word-spacing: 1px;
                        font-weight: $bld;
                        color: $fff; 
                        display: inline-block;
                        padding: 0 0 .5rem;
                        position: relative;
                        &::before{
                            content: '';
                            width: 0;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background: #fff;
                            position: absolute;
                            animation: Brdanime 3s linear infinite;
                        }
                    }
                }
                .social-wrp{
                    @include flex;
                    justify-content: flex-start;
                    figure{
                        margin:.5rem 1rem 0 0; 
                        img{
                            max-width: 60%;
                            cursor: pointer;
                            transition: $transition;
                            &:hover{
                                transition: $transition;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
             }
            .Ft-Wrp{
                @include flex;
                justify-content: $between; 
                align-items: $inherit;
                .Ft-cmn01{
                    width: 20%;
                    margin: 0 auto;
                    .Ft-head{
                        padding: 0 0 1.3rem; 
                        h2{
                            font-size: 1.3em;
                            text-transform: $cap;
                            line-height: 1.5;
                            letter-spacing: 1px;
                            word-spacing: 1px;
                            font-weight: $bld;
                            color: $fff; 
                            display: inline-block;
                            padding: 0 0 .5rem;
                            position: relative;
                            &::before{
                                content: '';
                                width: 0;
                                height: 2px;
                                bottom: 0;
                                left: 0;
                                background: #fff;
                                position: absolute;
                                animation: Brdanime 3s linear infinite;
                            }
                            @keyframes Brdanime {
                                0%{
                                    transition: $transition;
                                }
                                99%{
                                    transition: $transition;
                                    width: 100%;
                                }
                                100%{
                                    opacity: 0;
                                    transition: $transition;
                                }
                            }
                        }
                    }
                    ul{
                        li{
                            a{
                                text-decoration: $none;
                                font-size: 1em;
                                text-transform: $cap;
                                line-height: 1.5;
                                letter-spacing: 1px;
                                word-spacing: 1px;
                                transition: $transition;
                                padding: .5rem 0;
                                display: inline-block; 
                                color: #999;
                                &:hover{
                                    transition: $transition;
                                    padding-left: 4px;
                                    color: #eee;
                                }
                            }
                            .hvr-underline-from-left{
                                &::before{
                                    background: #eee;
                                    height: 1px;
                                    transition: $transition;
                                }
                            }
                        }
                    }
                    address{
                        padding: 1.5rem 0 0;
                        p{
                            font-size: 1em;
                            word-spacing: 1px;
                            text-transform: $cap;
                            line-height: 1.5;
                            color: #999;
                            padding: 0 0 1rem;
                        }
                        a{
                            font-size: 1em;
                            word-spacing: 1px;
                            text-transform: $cap;
                            line-height: 1.5;
                            color: #999;
                            text-decoration: $none;
                            transition: $transition;
                            padding: 0 0 .4rem;
                            display: $inline-b;
                            &:hover{
                                transition: $transition;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        // end---Footer---content--//
    }

    // ---copy--right---section---//

    .copyright-wrp{
        width: 100%;
        padding: 1rem 0;
        background: #222222b5;
        text-align: $mid;
        margin: 2.5rem 0 0;
      .copyright-content{ 
          p{
              color: #D9D9D9;
              text-transform: $cap;
              font-size: 13px;
              line-height: 1.5;
              letter-spacing: 1px;
              word-spacing: 1px;
              a{
                color: #D9D9D9;
                text-decoration: $none;transition: $transition;
                cursor: pointer;
                &:hover{
                  transition: $transition;
                  opacity: .77;
                  text-decoration: underline;
                }
              }
          }
      }
    }
    // -----end--here----//
} 
}


// --------------BTC-------Page--------------//
//---*********************************-------//
//---------------BTC-------Page--------------//

.BTC-Main-Wrapper{ 
    .Banner-Wrapper{
        .bg-banr { 
            right: 34vw;
            bottom: 0;
            width: 113vmax; 
            height: 59vmax;    
        }
        .Banner-content{
            .Bnr-Lft {
                width: 50%;
            }
            .Bnr-Rgt{
                width: 30%;//35%;
                border-radius: 5px;
                //border-left: 1px solid #99999961;
                // padding: .5rem 1rem;
                padding: .0rem 0 .5rem 1rem;
                background: rgba(238, 238, 238, 0.301);
                overflow: hidden;
                .payment-wrp{
                    li{
                        p{
                            padding-left: 0rem;
                        }
                    }
                }
            } 
            .btc-pay-offer{
                position: relative;
                .remaining{
                    background: #EEBA2B;
                    padding: 4rem 4rem .5rem;
                    text-align: center;
                    right: -84px;
                    top: -32px;
                    transform: rotate(50deg);
                    position: absolute;
                    p{
                        font-size: 15px;
                        color: $fff;
                        span{font-weight: bold;}
                    }
                }
                h2{
                    font-size: 1.1em;
                    text-transform: $cap;
                    letter-spacing: 1px;
                    word-spacing: 1px;
                    color: #000;  padding: 1rem 0 0;
                }
                .p1{
                    font-size: 1.1em;
                    padding: .8rem 1rem;
                    text-transform: $upper;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    word-spacing: 1px; 
                    color: $fff;
                    font-weight: $blder;
                    margin: 0 0 1rem;
                    background: #EEBA2B;
                    position: relative;
                    @include bfr;
                }
                a{
                    padding: .9rem 1.4rem;
                    border-radius: 5px; 
                    display: $inline-b;
                    font-size: 1.2em;
                    text-transform: $upper;
                    font-weight: $bld;
                    color: $fff;
                    background: #061BB0;
                    cursor: pointer;
                    position: $rel; 
                    transition: $transition;
                    text-decoration: $none;
                    .fa-arrow-alt-circle-right {
                        color: $fff;
                        font-size: 1.3em;
                        margin: 0 1rem 0 0;
                        vertical-align: middle;
                    }
                }
                .hvr-bounce-to-top{
                   &::before{
                    background: #EEBA2B;
                    border-radius: 5px;
                   }
                }
                }
                .btP1{
                    padding: .8rem 0 1.2rem;
                    @include flex;
                    justify-content:$between;
                    h3{
                      font-size: 2.5em;
                      color: #2d2d2d;
                      font-family: "fatfrank", sans-serif;
                      font-weight: $bld;
                      sup{
                        font-size: 22px;
                        text-decoration: line-through;
                        vertical-align: top;
                        padding: .5rem;
                      }
                    }
                    h4{
                        font-size: 1.3em;
                        text-transform: $cap;
                        line-height: 1.5; padding-right: 3.5rem;
                    }
                }
            }
        }   

        // --------service---section----
            .BTC-Service-wrapper{
                padding: 3rem 0;
                background: #eee;
                margin: 5rem 0 0;
                .Service-content{
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: 3rem;
                    .Sr-Left{
                        display: grid;
                        grid-template-columns: auto auto;
                        grid-gap: 1rem;
                        align-items: center;
                        figure{
                            width: 100px;
                            text-align: $mid;
                            img{
                                max-width: 60%;
                                text-align: right;
                                animation: imgaime 3s linear infinite;
                            }
                        }
                        figcaption{
                            h2{
                                font-size: 1.4em;
                                text-transform: $cap;
                                line-height: 1.5;
                                word-spacing: 1px;
                            }
                            p{
                                font-size: 1.099em;
                                text-transform: $cap;
                                line-height: 1.5;
                                word-spacing: 1px;
                                padding: .9rem 0;
                            }
                        }
                    }
                    .Sr-Right{
                        p{
                            font-size: 1.1em;
                            line-height: 1.5;
                            word-spacing: 1px;
                            color: #000;
                        }
                        .grp-img{
                            display: grid;
                            grid-template-columns: auto auto;
                            justify-content: flex-end;
                            align-items: center;
                            grid-gap: 1.1rem;
                            padding: .9rem 0;
                            figure{
                                img{
                                    max-width: 80%;
                                    transition: $transition;
                                    &:hover{
                                        transition: $transition;
                                        transform: scale(1.1);
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
                // ---service---end---
                
            // <!--Services---offer -->
            .Serivces-offer-wrp{
                .Srv-unorder{
                    display: grid;
                    grid-template-columns: auto auto auto;
                    grid-gap: 3rem; 
                    padding: 3rem 0 0;
                    .Srv-offr{
                        background: $fff;
                        padding: 0 0 1rem;
                        border-radius: 5px;
                        overflow: hidden;
                        .p2{
                            font-size: 15px;
                            padding: .5rem 1rem;
                            text-transform: uppercase;
                            line-height: 1.5;
                            letter-spacing: 1px;
                            word-spacing: 1px;
                            color: #ffffff;
                            font-weight: bolder;
                            margin: 0 0 1rem;
                            background: #EEBA2B;
                            position: relative;
                            @include bfr;
                        }
                      .srv-heading{
                          padding: .7rem 1rem;
                          background: #4a4a4a;
                          border-top-right-radius: 5px;
                          border-top-left-radius: 5px;
                          position: relative;
                          h2{
                              font-size:1.3em;
                              text-transform: $cap;
                              line-height: 1.5;
                              letter-spacing: 1px;
                              word-spacing: 1px;
                              color: $fff;
                          }
                          .remaining {
                            background: #EEBA2B;
                            padding: 4rem 4rem .5rem;
                            text-align: center;
                            right: -84px;
                            top: -32px; 
                            transform: rotate(  50deg );
                            position: absolute;
                            z-index: 2;
                            border-bottom-right-radius: 85%150px;
                            p {
                                font-size: 15px;
                                color: #ffffff;
                                span {
                                    font-weight: bold;
                                }
                            }
                        }
                      }
                      .srv-cnt{
                          padding: 0 1rem;
                          p{
                              text-transform: $cap;
                              line-height: 1.5; 
                              word-spacing: 1px;
                              font-size: 1em;
                              padding: 0 0 .4rem;
                              b{
                                  color: #000;
                                  font-weight: $bld;
                              }
                          }
                          a{
                            padding: .7rem 1.2rem;
                            margin: 1.8rem 0 0;
                            border-radius: 5px;
                            display: $inline-b;
                            font-size: 1.2em;
                            text-transform: $upper;
                            font-weight: $bld;
                            color: $fff;
                            background: #061BB0;
                            cursor: pointer;
                            position: $rel; 
                            transition: $transition;
                            text-decoration: none;
                            .fa-arrow-alt-circle-right {
                                color: $fff;
                                font-size: 1.3em;
                                margin: 0 1rem 0 0;
                                vertical-align: middle;
                            }
                          }
                          .hvr-bounce-to-top{
                           &::before{
                            background: #EEBA2B;
                            border-radius: 5px;
                           }
                          }
                      }   
                    }
                }
            }

            // ---Services---offer---end---
            .plans-btn{
                padding: 2rem 0;
                width: 100%;
                text-align: center;
                button{
                    padding: 1.1rem 2rem;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    font-size: 1.1em;
                    color: #061bb0;
                    box-shadow: 0 0 3px 2px #061bb01f;
                    cursor: pointer;
                    outline: none;
                    transition: $transition;
                    &:hover{
                        transition: $transition;
                        box-shadow: 0 0 1px 1px #061bb01f;
                    }
                    i.fas.fa-chevron-down {
                        vertical-align: middle;
                        font-size: 16px;
                        margin: 0 .7rem 0 0;
                    }
                }
            }
       }

 
//  ----contract sectionn----//
.Contract-Wrapper{
    width: 100%;
    padding: 0 0 2rem;
    .Contact-content{
        width: 100%;
        height: 100%;
        @include flex;
        justify-content: $between;
        .cont-cmn01{
            width: 48%;
            figure{
                text-align: $mid;
                img{
                    max-width: 60%;
                    transform: rotate( 71deg );
                    border-radius: 28px;  
                    transition:$transition;
                    animation: swing ease-in-out 4s infinite alternate;
                    transform-origin: center -20px;
                }
            }
            h2{
                font-size: 1.3em;
                line-height: 1.5;
                letter-spacing: 1px;
                word-spacing: 1px;
                color: #000;
            }
            p{
                font-size: 1rem;
                line-height: 1.5; 
                word-spacing: 1px;
                padding: .5rem 0;
            }
            a{
                line-height: 1.5; 
                word-spacing: 1px;
                padding: 1.5rem 0;
                color: $site-color;
                display: $inline-b;
                font-weight: bold;
                text-decoration: $none;
                transition: $transition;
                &:hover{
                    transition: $transition;
                    text-decoration: underline;
                }
            }
        }
    }
} 
// ----contract -----end---here---//

.Arco_Wrapper{
    width: 100%;
    padding: 1rem 0 4.5rem;
    .Main-Arco-content{
        border: 1px solid #000;
        border-radius: 5px;
        .Arco--heading{
            padding: 1rem 2rem;
            margin-left: 2rem; 
            clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 96% 50%, 100% 65%, 100% 100%, 0% 100%, 0% 65%, 4% 50%, 0% 35%);
            background: #060606;
            width: 23%;  
            transform: translateY(-30px);
            h2{ 
                font-size: 1.2em;
                text-transform: $cap;
                letter-spacing: 1px;
                word-spacing: 1px;
                text-align: $mid;
                color: $fff;
            } 
        }
        .discover-btn{
            text-align: center;
            a{
                padding: .7rem 1.2rem;
                margin: 1.8rem 0 0;
                border-radius: 5px;
                display: $inline-b;
                font-size: 1.2em;
                text-transform: $cap;
                font-weight: $bld;
                color: $fff;
                background: #061BB0;
                cursor: pointer;
                position: $rel; 
                transition: $transition;
                text-decoration: $none;
                transform: translateY(21px); 
                .fa-arrow-alt-circle-right {
                    color: $fff;
                    font-size: 1.3em;
                    margin: 0 1rem 0 0;
                    vertical-align: middle;
                }
            }
            .hvr-bounce-to-top::before {
                background: #EEBA2B;
                border-radius: 5px;
            }
        }
        .Arco-content{
             display: grid;
             grid-template-columns: auto auto auto;
             grid-gap: 2rem 1rem;
             padding: 2rem 1rem;
           .arco-cmn{
               text-align: $mid;
               background: #eeeeee78;
               padding: 2rem 0;
               border-radius: 5px;
               transition: $transition;
               &:hover{
                   transition: $transition;
                   box-shadow: 0 0 7px 2px #9999995c;
                   .fig-img{
                       img{
                           transform: scale(1.1);
                           transition: $transition;
                       }
                   }
               }
             h3{
                 font-size: 1.2em;
                 word-spacing: 1px;
                 padding-bottom: 1.4rem;
             }
             figure{
                 img{
                     max-width: 100%;
                     transition: $transition;
                 }
             }
           } 
        }
    }
}


}
 
.Bnr-Lft {
    width: 50%;
    padding: 1rem 0 8rem;
}

// --------------Login-------Page--------------//
//---*********************************-------//
//---------------Login-------Page--------------//

.Login-Wrapper{
    .Bnr-Lft { 
        padding: 1rem 0 8rem 2rem;
        h2{
            font-size: 3em!important;
        }
    }
    .Login-wrp{
        padding: 3rem 0 3rem;
        .Login-content{
            @include flex;
            justify-content: $between;
            .Log-cmn{
                width: 48%;
                figure{
                    text-align: $mid;
                    img{
                        max-width: 47%;
                        animation: imgaime 3s linear infinite;
                    }
                }
                // ---form
                form{
                    width: 90%;
                    margin: 0 auto;
                    box-shadow: 0 0 4px 3px #99999924;
                    padding: 1rem 1rem; 
                    border-radius: 5px;
                    .form-item-wrp{
                        .Form-heading{
                            padding: .5rem 0 .8rem;
                            h2{
                                font-size: 2.3em;
                                text-transform: $cap;
                                word-spacing: 1px;
                                color: $site-color;
                                line-height: 1.5;
                            }
                            p{
                                font-size: 1em;
                                color: #000;
                                text-transform: $cap;
                                line-height: 1.5;
                                padding: .5rem 0 0;
                            }
                        }
                      label{
                          width: 100%;
                          font-size: 1.1em;
                          text-transform: $cap;
                          word-spacing: 1px;
                          color: #222;
                          padding: .8rem 0;
                          display: block;
                          color: #999;
                       }
                      input,select{
                          width: 100%;
                          text-transform:$cap;
                          font-size:15px; 
                          padding: .8rem .5rem;
                          border-radius: 5px;
                          border: 1px solid #eee;
                          outline: $none;
                          transition: $transition;
                          color: #999;
                          &:hover{
                              transition: $transition;
                              border: 1px solid rgb(172, 172, 172);
                          }
                          &:focus,&:active{
                              transition: $transition;
                              box-shadow: 0 0 3px 2px #9999992e;
                              border: 1px solid #eee;
                          }
                        }
                        #Submit1{
                            margin: 1.5rem 0;
                            background: #061bb0;
                            color: #fff;
                            font-size: 1.4em;
                            transition: $transition;
                            &:hover{
                             opacity: .77;
                             transition: $transition;
                             cursor: pointer;
                            }
                        } 
                    }  
                    .form-btn{
                        @include flex;
                        justify-content: $around;
                        a{
                            font-size: 1em;
                            text-transform: $cap;
                            font-weight: $bld;
                            transition: $transition;
                            text-decoration: none;
                            color: #999;
                            &:hover{
                            transition: $transition;
                            text-decoration: underline;
                            color: $site-color;
                            }
                        }
                        p{
                            font-size: 1.2em;
                            text-transform: $cap;
                        }
                    }
                }
            }
        }
    }
}



//---------end------Login-------Page-----here-------------


//--------Signup-------Page--------------//
//---*********************************-------//
//---------------Signup-------Page--------------//
.Signup-Wrapper{
    width: 100%;
}

//---------end------Signup-------Page-----here-------------

.main-bar{
    display: none;
}


@import 'dashboard';    
@import 'media';